{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser ": true
  },
  "extends": ["htmlacademy/es5"],
  "rules": {
    "no-var": "error",
    "arrow-parens": ["error", "always"],
    "constructor-super": "error", // eslint:recommended
    "generator-star-spacing": ["error", "after"],
    "no-new-symbol": "error", // eslint:recommended
    "no-this-before-super": "error", // eslint:recommended
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "rest-spread-spacing": "error",
    "yield-star-spacing": ["error", "after"],

    "object-shorthand": ["error", "always", {
      "avoidQuotes": true
    }]

  }
}
