@keyframes open_modal {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes close_modal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}

@keyframes open_overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close_overlay {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
